/* General */

* {
    text-align:center;
}

/* Header */
h1 {
    font-family: 'Fontdiner Swanky', Arial, Helvetica, sans-serif;
    color:darkred;
    font-size: 120px;
    -webkit-text-stroke: 1px white;
}

h2 {
    font-family: 'Fontdiner Swanky', Arial, Helvetica, sans-serif;
    color: lightgreen;
    font-size: 40px;
    padding-bottom: 10%;
}

.title {
    background: 
    linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        ),
        url("images/tomatoes.jpg") center/cover no-repeat;
}

/* Body */

h3 {
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
    font-size: 60px;
}

p {
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
    font-size: 50px;
}
/* Origins section */

.origins img {
    width: 100vw;
    height: auto;
    display: block;
}

.origins {
    color: white;
    font-size: 20px;
    background-color: lightgreen;
}

/* British section */
.british img {
    width: 100vw;
    height: auto;
    display: block;
}

.british {
    color: white;
    font-size: 20px;
    background-color: darkred;
}

/* American section */

.american img {
    width: 100vw;
    height: auto;
    display: block;
}

.american {
    color: white;
    font-size: 20px;
    background-color: lightgreen;
}

/* Footer */

footer {
    font-family: 'Funnel Display', Arial, Helvetica, sans-serif;
    color: green;
    font-size: 20px;
}